@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");


$primary: #ecf881;
$secondary: #59981A;
$dark: #3D550C;
$black: #ffffff;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif;

@import "../node_modules/bootstrap/scss/bootstrap";