@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}
.bigTitle {
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/bigTitle.jpg);
        background-size: cover;
        filter: brightness(0.2);
    }
    *{
        position: relative;
    }
}


p{
    font-family: $font-family-serif;
    font-size: 12px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}